.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--static-space-2xl);
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    gap: var(--static-space-xl);
  }
}
